@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

#table {
  
  margin: 30px auto;
}

#good {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: none;
}

#danger {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: none;
}